body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 7px rgba(250, 247, 247, 0.904);
    padding: 20px;
    border: none;
    border-radius: 10px;
}
h3{
    font-size: 30px;
}
span{
    color: crimson;
}
input{
    height: 25px;
    font-size: 15px;
}
button{
    font-size: 20px;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
    transition: 4s ease-in;
    border: none;
    border-radius: 15px;
    padding: 5px 12px;
}
button:hover{
    outline: 0.125rem solid #fff;
    outline-offset: 0.25rem;
}
p{
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    body{
        width: 35%;
        max-width: 25rem;
    }
}
@media screen and (min-width: 1200px){
    body{
        position: fixed;
        padding: 25px 450px;
        max-width: 50%;

    }
}
